[submodule "deps/min-devkit"]
	path = deps/min-devkit
	url = https://github.com/Cycling74/min-devkit.git
[submodule "deps/NeuralAudio"]
	path = deps/NeuralAudio
	url = https://github.com/mikeoliphant/NeuralAudio.git
[submodule "deps/AudioDSPTools"]
	path = deps/AudioDSPTools
	url = https://github.com/sdatkinson/AudioDSPTools.git
