[submodule "deps/min-devkit"]
	path = deps/min-devkit
	url = https://github.com/Cycling74/min-devkit.git
[submodule "deps/NeuralAmpModelerCore"]
	path = deps/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore
